if SHIELD_CROWKB_38_LEFT

config ZMK_KEYBOARD_NAME
    default "crowkb_38"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CROWKB_38_LEFT || SHIELD_CROWKB_38_RIGHT

config ZMK_SPLIT
    default y

endif